<section id="copyright" class="flex justify-center items-center w-full px-4 py-8">
    <span>{{t "Copyright"}}{{date format=" YYYY"}}, <a href="{{@site.url}}" target="_self">{{@site.title}}</a></span>
</section>