<section id="signupForm">
    
    <label for="input-signup">
        <h1>{{t "Stay connected"}}</h1>
        <p>{{t "Sign up now and Don't Miss Any Updates, Stay Connected..."}}</p>  
    </label>

    <form id="form-signup" action="https://cuongnc.us2.list-manage.com/subscribe/post?u=e8fb4f62f44c6b4f5e0d22663&amp;id=f7d82b787d" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div>

            <input id="input-signup" type="email" value="" name="EMAIL" placeholder="Email" required>
            
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_e8fb4f62f44c6b4f5e0d22663_f7d82b787d" tabindex="-1" value="">
            </div>
            
            <button class="signup-button" type="submit" value="Subscribe">{{t "Subscribe"}}</button>
        
        </div>
    </form>
    
</section>

